.background {
  background-color: #fffafa;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.login {
  align-items: center;
  margin-right: 40vw;
  margin-left: 40vw;
  position: absolute;
  padding: 10px;
  height: 100px;
  width: 250px;
}

.login .App-logo-text {
  font-family: Luminarie, fantasy;
  position: absolute;
  margin-top: 100px;
  margin-left: 80px;
}

.login .button {
  margin-top: 10px;
}