.navbar {
  background-color: rgb(244, 243, 243);
}

.navbar .title {
  position: absolute;
  text-align: center;
  font-family: Luminari, fantasy;
  width: 100%;
  height: auto;
  margin-top: 6px;
}
