.profile-box {
  position: absolute;
  min-width: 20vw;
  height: 30vh;
  border-radius: 10px;
  margin-top: 3vh;
  margin-left: 3vw;
  margin-right: 97vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-box .avatar {
  margin: 0;
  position: absolute;
  top: 5.5vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-box .username {
  margin-top: 10px;
  font-family: Luminari, fantasy;
  font-weight: bold;
  text-align: center;
}

.profile-box .real-name {
  font-size: x-small;
  color: grey;
  text-align: center;
}

.avatar-shadow {
  margin-left: 20%;
  position: absolute;
  margin-top: 2px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 2px rgba(0, 0, 0, 0.19);
}

.profile-box .edit {
  position: absolute;
  margin-top: 10px;
  margin-left: 90%;
  margin-right: 10%;
}

.profile-box .edit :hover {
  cursor: pointer;
  color: grey;
}