.todo {
  position: absolute;
  min-width: 20vw;
  min-height: 43.5vh;
  border-radius: 10px;
  margin-top: 40vh;
  margin-left: 3vw;
  margin-right: 97vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.addButton {
  margin-right: 3px;
  margin-bottom: 5px;
  margin-left: 2px;
}

.button {
  margin-right: 3px;
  margin-bottom: 5px;
  margin-left: 2px;
}

.input {
    margin-right: 3px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.header {
  margin-left: 5px;
}

.task:hover {
  color: blue;
  cursor: pointer;
}

.task {
  margin-bottom: 3px;
};

.select {
  margin: 5px;
}

.modalYes {
  margin-right: 75px;
}

