.todo {
    position: absolute;
    min-width: 20vw;
    min-height: 43.5vh;
    border: black solid 1px;
    border-radius: 10px;
    margin-top: 40vh;
    margin-left: 3vw;
    margin-right: 97vw;
}

.addButton {
  margin-right: 3px;
  margin-bottom: 5px;
  margin-left: 2px;
}

.button {
  margin-right: 3px;
  margin-bottom: 5px;
  margin-left: 2px;
}

.input {
    margin-right: 3px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.header {
  margin-left: 5px;
}

.task:hover {
  color: blue;
  cursor: pointer;
}

.task {
  margin-bottom: 3px;
};

.select {
  font-size: 4px;
}

